/* CSS declarations go here */

#wrapper {
    width: 60%;
    margin: 0 auto;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	background-color: white;
}

#getTrust {

}

#header {
	height: 10vh;
	background-color: #ffe6e6;
	text-align: center;
}

#footer {
	height: 10vh;
	background-color: #ffe6e6;
	text-align: center;
}

.vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#frmLookup {
	padding-top: 5%;
}

body {
	background-color: #ebebeb !important;
}

.col {
	padding: 2.5%;
	text-align: center;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

input {
    width: 75%;
}

button, input, select, textarea {
	display: block !important;
	margin: 0 auto !important;
}

.button {
    border: none;
    color: white;
    padding: 12px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block !important;
    font-size: 16px;
	margin: 6px !important;
}

.icon-holder{
	display: inline-block;
}

.custom-icon {
	font-size:40px !important;
}

/* #trust-true { display: none; } */
/* #trust-false {display: none; } */

 .greenbg {
	 background-color: #4CAF50; 
 }
 
 .redbg {
	 background-color: #f44336;
 }
 
 .bluebg {
	 background-color: blue;
 } 
	 
 .green {
	 color: #4CAF50; 
 }
 
 .red {
	 color: #f44336;
 }
 
 .blue {
	 color: blue;
 }